@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
	background-color: royalblue;
    color: salmon;
}

.texto{
    background-color: slategray;
    color: springgreen;
}

.color{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

#hexadecimal{
	font-size: 35px;
	color: #ffffff;
	display: block;
	text-transform: uppercase;
	margin: 15px;
}

.color button{
	cursor: pointer;
	background: none;
	outline: none;
	font-size: 15px;
	color: #ce0b0b;
	border: 3px solid rgb(214, 9, 9);
	border-radius: 25px;
	padding: 10px 15px;
	transition: transform .3s ease
}

.color button:hover{
	transform: scale(1.1);
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.hex:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }


.fondo{ 
    background-color: rgb(240, 135, 8);
    background-image:url('WIN_20210519_21_03_15_Pro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center
    }
    
.contenedor1 {
        display: inline-block;
        height: 300px;
        left: 50px;
        right: 150px;
        position: center;
        top: 150px;
        background-color: transparent;
    }





-----menu----

.nav {
    position:relative;
    top: 50px;
    left: 0;
    width: 100%;
}

.menu {
    list-style: none;
    

}

.links {
    display: block;
    padding: 15px;
    background: orange;
    text-decoration: none;
    color: blue;

}

.links:hover {
    background: white;
    color: orange;
}

----------------------------------
@media (min-width:500px) {

    img {
        margin-top: 0;
    }

    .menu li {
        display: inline-block;
    }
.banner_inicio {
    top: 100px   
}

.contenedor1 {
    display: inline-block;
    height: 300px;
    left: 10px;
    right: 150px;
    position: absolute;
    top: 150px;
    background-color: transparent;
}

.banner_titulo  {
    background: transparent;
}

.banner_txt {
    background: transparent;
}